body {
    background-color: #2b3e50;
}
.title {
    color: white;
}
.subtitle {
    color: white;
}
hr {
    background-color: #2b3e50;
    height: 1px;
    border: none;
}
.content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.well {
    padding: 1px;
    background-color: #bf5a16;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px #bf5a16 solid;
    border-radius: 0px;
}
.right {
    float: right !important;
    margin: 0px;
}
.left {
    float: left !important;
    margin: 0px;
}
.col50 {
    width: 49%;
    float: left;
}
.col25 {
    width: 24%;
    float: left;
}
.col75 {
    width: 73%;
    float: left;
}
ul {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 200ms ease-in-out;
    
}
a:hover {
    border-bottom: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.hor-menu a:hover {
    border-bottom: 0;
    color: #fff;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.hor-menu {
    list-style-type: none;
    font-size: 20px;
}
.hor-menu > li {
    border-right: 5px solid transparent;
    transition: all 200ms ease-in-out;
}
.hor-menu > li.submenu {
    border-right: 0;
    background-color: #bf5a16;
}
.hor-menu > li.submenu:hover {
    border-right: 0;
    background-color: #bf5a16;
}
.hor-menu > li:hover {
    background-color: #AB5115;
    border-right: 5px solid #2b3e50;
    transition: all 200ms ease-in-out;
}
.hor-menu > li > a {
    margin-left: 90px;
    margin-right: 90px;
}
.info-table {
    color: white;
}
.info-table th {
    font-size: 17px;
    color: white;
}
.info-table tr td {
    width: 50%
}
.info-table .desc {
    font-style: italic;
}